<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<meta name="referrer" content="never">

		<title>Curly Turtle</title>

		<link rel="shortcut icon" href="{{ program.baseurl }}/favicon.ico">
		<link rel="icon" sizes="192x192" href="{{ program.baseurl }}/favicon-192.png">
		<link rel="apple-touch-icon" sizes="192x192" href="{{ program.baseurl }}/favicon-192.png">
		<link rel="stylesheet" href="{{ program.baseurl }}/style.css">
		{% if program.customcss %}<style>{{ program.customcss }}</style>{% endif %}
	</head>

	<body>
		<a class="settings-button" href="{{ program.baseurl }}/settings">Settings</a>

		<h1 class="curly-turtle center">Curly Turtle</h1>
		<p class="version center">v{{ program.version }}</p>
		<img class="logo center" src="{{ program.baseurl }}/logo.svg" alt="Curly Turtle" onerror="this.onerror=null; this.src='{{ program.baseurl }}/favicon-192.png'">

		<div class="search-area center">
			<form id="search" action="{{ program.baseurl }}/search">
				<input type="text" name="q" required autocomplete="off" autofocus>
				{% if search.request.settings.lang %}<input type="hidden" name="hl" value="{{ search.request.settings.lang }}">{% endif %}
				<input type="submit" value="Search">
			</form>
		</div>
		
		<script>
			if (location.protocol !== "https:") {
				document.write("<p class=\"center warning\">WARNING: You are using an insecure protocal. <a href=\"https://github.com/FiveYellowMice/curly-turtle/wiki/%E8%AF%B7%E4%B8%80%E5%AE%9A%E8%A6%81%E4%BD%BF%E7%94%A8-HTTPS%EF%BC%81\">Learn more</a></p>");
			}
			if (/MSIE/.test(navigator.userAgent)) {
				document.write("<p class=\"center warning\">WARNING: You are using an outdated browser. <a href=\"https://github.com/FiveYellowMice/curly-turtle/wiki/%E5%B0%BD%E9%87%8F%E9%81%BF%E5%85%8D%E4%BD%BF%E7%94%A8%E8%BF%87%E6%97%B6%E7%9A%84%E6%B5%8F%E8%A7%88%E5%99%A8\">Learn more</a></p>");
			}
		</script>

		<div class="powered-by center">Powered by <a rel="noreferrer" href="https://github.com/FiveYellowMice/curly-turtle">Curly Turtle</a> v{{ program.version }}.</div>
	</body>
</html>
