<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<meta name="referrer" content="never">
		{% if search.status == "settings saved" %}<meta http-equiv="refresh" content="1; url={{ program.baseurl }}/">{% endif %}

		<title>Settings</title>

		<link rel="shortcut icon" href="{{ program.baseurl }}/favicon.ico">
		<link rel="icon" sizes="192x192" href="{{ program.baseurl }}/favicon-192.png">
		<link rel="apple-touch-icon" sizes="192x192" href="{{ program.baseurl }}/favicon-192.png">
		<link rel="stylesheet" href="{{ program.baseurl }}/style.css">
	</head>

	<body>
		<h1 class="settings-title">Settings</h1>

		<form class="settings-area">
			Language: <input type="text" name="lang" autocomplete="off" value="{% if search.request.settings.lang %}{{ search.request.settings.lang }}{% else %}en{% endif %}"><br>
			<span id="common-langs" style="display:none;">
				<a href="javascript:setLang('en')">English</a>
				<a href="javascript:setLang('fr')">Français</a>
				<a href="javascript:setLang('de')">Deutsche</a>
				<a href="javascript:setLang('ja')">日本語</a>
				<a href="javascript:setLang('zh-TW')">繁體中文</a>
				<a href="javascript:setLang('zh-CN')">简体中文</a>
				<br>
			</span>
			<script>
				document.getElementById("common-langs").style = "";
				function setLang(lang) {
					document.getElementsByName("lang")[0].value = lang;
				}
			</script>
			Open in new tab: <input type="radio" name="newtab" value="on"{% if search.request.settings.newtab == "on" %} checked{% endif %}>On <input type="radio" name="newtab" value="off"{% if search.request.settings.newtab != "on" %} checked{% endif %}>Off<br>
			{% if search.status == "settings saved" %}Saved, redirecting to home page...{% else %}<input type="submit" value="Save"> <a href="{{ program.baseurl }}/">Cancel</a>{% endif %}<br>
			By clicking save, you agree to use Cookies.
		</form>
	</body>
</html>